<h1 mat-dialog-title>Add Plot for <input type="text" placeholder="Name of the plant" [(ngModel)]="name" /></h1>
<h2>Insert your plot information: </h2>
<mat-dialog-content class="text">
  <h3>Size of the plot:</h3>
  <!-- input -->
  <h3>Quantity of plants on the plot:</h3>
  <!-- input -->
  <h3>Latitude:</h3>
  <!-- input -->
  <h3>Longitude:</h3>
  <!-- input -->



    <mat-form-field appearance="outline" class="bg">
        <!-- <input matInput [(ngModel)]="coordinates" matInput style="color: black;"/> -->
    </mat-form-field>
    <h3>Longitud:</h3>
    <mat-form-field appearance="outline" class="bg">
        <!-- <input matInput [(ngModel)]="coordinates" matInput style="color: black;"/> -->
    </mat-form-field>
    <p>To know your latitude and longitude, you can use <a href="www.googlemaps.com" style="color: brown;">Google Maps</a></p>
</mat-dialog-content>

<div mat-dialog-actions style="display: grid; grid-template-columns: 1fr 1fr;">
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button mat-dialog-close style="background-color: #148414;">Add</button>
</div>
