<h1 mat-dialog-title>Add Plot for</h1>
<h2>Insert your direcction: </h2>

<mat-dialog-content class="text">
  <h3>quantity:</h3>
  <mat-form-field appearance="outline" class="bg">
    <input matInput [(ngModel)]="plot.quantity" matInput style="color: black;"/>
  </mat-form-field>
    <h3>Latitud:</h3>
    <mat-form-field appearance="outline" class="bg">
        <input matInput [(ngModel)]="plot.latitude" matInput style="color: black;"/>
    </mat-form-field>
    <h3>Longitud:</h3>
    <mat-form-field appearance="outline" class="bg">
        <input matInput [(ngModel)]="longitude" matInput style="color: black;"/>
    </mat-form-field>
    <p>To know your latitude and longitude, you can use <a href="#" style="color: brown;">Google Maps</a></p>
</mat-dialog-content>



<div mat-dialog-actions style="display: grid; grid-template-columns: 1fr 1fr;">
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button mat-dialog-close style="background-color: #148414;">Add</button>
</div>
